*{
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

body{
    background-color: #e7e7e7;
}

header{
    background-color: #447ea0;
    height: 2.5em;
    text-align: center;
    
}

h1{
    display: inline-block;
    position: relative;
    bottom: 7%;
    color: #e7e7e7;


}

.box{
    text-align: center;
}

.bx{
    display: inline-block;
}

#text{
    border: none;
    border-bottom: solid 1.5px rgb(172, 172, 172);
    background-color: #e7e7e7;
    width: 38em;
    height: 2em;
    font-size:large;
}

#text:focus{
    border: none;
    outline: 0;
    border-bottom: solid 1.5px rgb(181, 207, 228);
  
}

#text:focus::placeholder{
    color: rgb(181, 207, 228);
}

#text::placeholder{
    color: rgb(172, 172, 172);
    font-size:large;
}

.add{
    border-radius: .9em;
    background-color: #60db41;
    border: none;
    width: 10em;
    height: 2em;
    position: relative;
    left: 3em;

    font-weight: bold;
    color: white;
    letter-spacing: .1rem;
}

.add:hover{
    background-color: #5dc943;
}
label{
    font-size: 1.5em;
    color: #6d6a6a;
}

img{
    width: 1.2em;
    height: 1.4em;
    cursor: pointer;
    margin-top: .3em;

}

.img:hover{
    background-color: #d1d1d1 ;
}

.check{
    width: 1.7em;
    height: 1.7em;
    margin-top: .5em;
   
}
.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    width: 23em;
}

.img{
    border: none;
    background-color: #e7e7e7;
    border-radius: .4em;
}
button{
    cursor: pointer;
}